* {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}
body {
    padding: 0;
    margin: 0;
}

.navbar {
    background: #24292E;
    overflow: hidden;
    padding: 5px 16px 5px 35px;
    height: 52px;
    font-size: 14px;
}
#mobile-nav {
    display: none;
}
.logo, .search-bar, .nav-links {
    float: left;
}
.nav-right {
    float: right;
}
.logo img {
    width: 32px;
    margin-top: 9px;
}
.search-bar {
    width: 23%;
    padding-left: 20px;
    margin-top: 11px;
}
.search-bar .input-container {
    background: transparent;
    border: 1px solid #444D56;
    padding: 3px 8px 5px 12px;
    font-size: 14px;
    border-radius: 6px;
    width: 85%;
}
.search-bar input {
    background: transparent;
    border: none;
    width: 90%;
    outline: none;
}
.search-bar .slash-icon {
    color: #979A9C;
    border: 1px solid #444D56;
    border-radius: 4px;
    padding: 1px 6px 2px 6px;
    font-size: 12px;
}
.search-bar input::placeholder {
    color: #C8C9CB;
}
.nav-links ul {
    padding-left: 0;
}
.nav-links li {
    display: inline-block;
}
.nav-links li a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    margin-right: 16px;
}
.nav-links li a:hover {
    color: #ffffffb3;
}
.nav-right ul {
    margin-top: 10px;
}
.nav-right li {
    display: inline-block;
}
.nav-right li a {
    color: #fff;
    text-decoration: none;
    margin-right: 16px;
}
.nav-right li a img {
    position: relative;
    width: 20px;
    border-radius: 50%;
    top: 4px;
}
.nav-right li a i {
    font-size: 16px;
}
.nav-tabs {
   padding: 20px 0 10px 0;
   border-bottom: 1px solid #EBEDEF;
   text-align: center;
}
#small-tab {
    display: none;
}
.nav-tabs ul {
    margin: 10px 0 0 0;
    padding: 0;
}
.nav-tabs ul li {
    display: inline-block;
    margin: 0;
}
.nav-tabs ul li a {
    padding: 8px 16px 14px 16px;
    font-size: 14px;
    line-height: 30px;
    color: #24292E;
    /* font-weight: 100; */
    text-decoration: none;

}
.nav-tabs ul li a:hover {
    border-bottom: 2px solid #D1D5DA;
}
.nav-tabs ul li a.active {
    border-bottom: 2px solid #F9826C;
    font-weight: 600;
}
.nav-tabs ul li a.active span, .nav-tabs ul li a.active i {
    color: #24292E;
}
.nav-tabs ul li a i, .nav-tabs ul li span {
    color: #959DA5;
    margin: 0 7px;
}
.nav-tabs ul li span {
    background: #E8EAEC;
    color: #24292E;
    padding: 0 6px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 50%;
    line-height: 18px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 2em;
}
.main-app {
    padding: 0 66px;
    overflow: hidden;
}
.profile {
    float: left;
    width: 25%;
}
.profile-pic {
    text-align: center;
    position: absolute;
    top: 90;
}
.bio {
    margin-top: 250px;
}
#fullname {
    font-size: 26px;
    line-height: 1.25;
    font-weight: 600;
    margin-bottom: 0;
}
#github-username {
    margin-top: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #586069;
    margin-bottom: 16px;
}
.profile-pic img {
    width: 270px;
    border-radius: 50%;
}
.edit-profile button {
    width: 100%;
    background: #fafbfc;
    font-weight: 600;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border: 1px solid #D3D5D6;
    border-radius: 6px;
    cursor: pointer;
}
.edit-profile button:hover {
    background: #F3F4F6;
}
.socials p {
    font-size: 14px;
}
.socials p i {
    margin-right: 5px;
    color: #6A737D;
}
.repositories {
    width: 70%;
    float: left;
    margin-left: 5%;
}
.filter {
    padding: 15px 0;
    border-bottom: 1px solid #EBEDEF;
    margin-bottom: 30px;
}
.filter input {
    background: transparent;
    border: 1px solid #DEE0E4;
    padding: 3px 8px 5px 12px;
    font-size: 14px;
    border-radius: 6px;
    width: 65%;
    /* outline: none; */
    margin-right: 10px;
}
.filter .select {
    background: #FAFBFC;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
    border: 1px solid #D3D5D6;
    border-radius: 6px;
}
.filter .new {
    background: #2EA44F;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
    border: 1px solid #298545;
    border-radius: 6px;
    color: #fff;
}
#repo-name {
    color: #0366D6;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    margin-top: 0;
}
#repo-name:hover {
    text-decoration: underline;
}
#language {
    font-size: 12px;
    color: #586069;
}
#language span {
    margin-left: 15px;
}
.repo-display {
    overflow: hidden;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.repo-detail {
    float: left;
}
.rating {
    float: right;
}
.rating button {
    border: 1px solid#D3D5D6;
    padding: 3px 12px;
    font-size: 12px;
    line-height: 20px;
    background: #FAFBFC;
    border-radius: 6px;
}
.rating i {
    color: #6A737D;
}

/* index page form */
.form {
    width: 25%;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
}
.form-header {
    text-align: center;
}
.form-header img {
    width: 47px;
}
.form-header p {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -.5px;
}
.form form {
    background: #F6F8FA;
    border-radius: 6px;
    border: 1px solid #EBEDEF;
    padding: 20px;
}
.form form label {
    font-size: 14px;
    display: block;
    margin-bottom: 7px;
    font-weight: 400;
    text-align: left;
}
.form form input {
    margin-top: 5px;
    margin-bottom: 15px;
    display: block;
    width: 100%;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #24292E;
    vertical-align: middle;
    background: #fff;
    outline: none;
    border: 1px solid #E1E4E8;
    border-radius: 6px;

}
.form form button {
    margin-top: 20px;
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    background: #2EA44F;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #298545;
    border-radius: 6px;  
}
.form form button:hover {
    background: #2C974B;
}
#repo-language-color {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}



/* --------------------------------------------------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------------------------------------------------- */


/* responsive */
@media (max-width: 1024px) {
    .search-bar {
        width: 30%;
    }
    .search-bar input {
        width: 90%;
    }
    .nav-links li a {
        margin-right: 0px;
    }
    .profile-pic img {
        width: 220px;
    }
    .main-app {
        padding: 0 40px;
    }
    .bio {
        margin-top: 200px;
    }
    .nav-tabs ul li a {
        padding: 8px 0px 14px 0px;
        font-size: 14px;
    }
    .filter input {
        width: 55%;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 5px 10px 5px 25px;
    }
    .search-bar {
        width: 30%;
    }
    .search-bar input {
        width: 87%;
    }
    .nav-links li {
        margin-right: 5px;
    }
    .profile-pic img {
        width: 180px;
    }
    .main-app {
        padding: 0 20px;
    }
    .bio {
        margin-top: 150px;
    }
    .nav-tabs ul {
        margin-left: 151px;
    }
    .nav-tabs ul li a {
        padding: 8px 8px 14px 8px;
    }
    .filter input {
        width: 95%;
    }
    .filter .select {
        margin-top: 5px;
    }
    .form {
        width: 40%;
    }
}

@media (max-width: 600px) {
    .profile {
        width: 100%;
    }
    .repositories {
        width: 100%;
        margin-left: 0;
    }
    #big-tab {
        display: none;
    }
    #small-tab {
        display: block;
    }
    .nav-tabs ul {
        margin-left: 0;
    }
    .filter input {
        width: 100%;
    }
    .profile-pic img {
        width: 90px;
    }
    .profile-pic {
        float: left;
        position: relative;
        top: initial;
        margin-top: 20px;
        margin-right: 10px;
    }
    .bio {
        float: left;
        margin-top: 0;
        width: 70%;
    }
    #window-nav {
        display: none;
    }
    #mobile-nav {
        display: block;
    }
    .navbar {
        padding: 5px 15px 5px 15px;
    }
    #mobile-navigation {
        display: none;
        position: absolute;
        top: 62px;
        left: 0;
        width: 100%;
        background: #24292E;
        padding: 20px;
        z-index: 999;
    }
    .initial-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-icon i {
        color: #fff;
        font-size: 22px;
        margin-top: 15px;
    }
    .notification i {
        color: #fff;
        font-size: 20px;
        margin-top: 15px;
    }
    .mobile-search-bar {
        border-bottom: 1px solid #444D56;
        width: 92%;
    }
    .mobile-search-bar .input-container {
        background: transparent;
        border: 1px solid #444D56;
        padding: 3px 8px 5px 12px;
        font-size: 14px;
        border-radius: 6px;
        width: 95.5%;
        margin-bottom: 15px;
    }
    .mobile-search-bar input {
        background: transparent;
        border: none;
        width: 95%;
        outline: none;
    }
    .mobile-search-bar .slash-icon {
        color: #979A9C;
        border: 1px solid #444D56;
        border-radius: 4px;
        padding: 1px 6px 2px 6px;
        font-size: 12px;
    }
    .mobile-search-bar input::placeholder {
        color: #C8C9CB;
    }


    .mobile-nav-links ul {
        padding-left: 0;
    }
    .mobile-nav-links li {
        display: block;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #444D56;
        width: 92%;
    }
    .mobile-nav-links li a {
        color: #fff;
        font-weight: 600;
        text-decoration: none;
    }
    .mobile-nav-links li a:hover {
        color: #ffffffb3;
    }
    .mobile-nav-right ul {
        padding-left: 0;
    }
    .mobile-nav-right li {
        display: block;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #444D56;
        width: 92%;
    }
    .mobile-nav-right li:last-child {
        border-bottom: none;
    }
    .mobile-nav-right li a {
        color: #fff;
        text-decoration: none;
        margin-right: 16px;
    }
    .mobile-nav-right li a img {
        width: 20px;
        border-radius: 50%;
       position: relative;
       top: 3px;
    }
    .mobile-nav-right li a i {
        font-size: 16px;
    }
    #small-tab li i {
        display: none;
    }
}

@media (max-width: 540px) {
    .form {
        width: 60%;
    }
}

@media (max-width: 420px) {
    .mobile-search-bar .input-container {
        width: 94%;
    }
    .mobile-search-bar input {
        width: 93%;
    }
    .form {
        width: 70%;
    }
    #small-tab {
        overflow-x: scroll;
        scrollbar-color: transparent;
        padding-bottom: 0;
    }
    #small-tab ul li {
        margin-bottom: 13px;
    }
    #small-tab ul {
        width: 150%;
        overflow-x: scroll;
        scrollbar-color: transparent;
    }
}

@media (max-width: 380px) {
    .profile-pic img {
        width: 60px;
    }
    #small-tab {
        overflow-x: scroll;
        scrollbar-color: transparent;
        padding-bottom: 0;
    }
    #small-tab ul li {
        margin-bottom: 13px;
    }
    #small-tab ul {
        width: 150%;
        overflow-x: scroll;
        scrollbar-color: transparent;
    }
    .form {
        width: 80%;
    }
}

@media (max-width: 360px) {
    .mobile-search-bar .input-container {
        width: 93%;
    }
    .mobile-search-bar input {
        width: 92%;
    }
}

@media (max-width: 320px) {
    .mobile-search-bar input {
        width: 90%;
    }
    .rating {
        float: left;
    }
}

@media (max-width: 280px) {
    .profile-pic img {
        width: 40px;
    }
    #bio-text {
        font-size: 13px;
    }
    .filter .select {
        padding: 3px 14px;
        font-size: 12px;
    }
}